# Next auth stuffs
NEXTAUTH_URL=http://localhost:3000
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

EMAIL_SERVER=smtp://username:password@smtp.example.com.com:587
EMAIL_FROM="NextAuth <noreply@example.com>"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
